.app {
  text-align: center;
}

body {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

h1 {
  text-align: center;
  margin: 20px;
}

button {
  border: 1px solid #ffffff84;
  margin: 4px;
}

.grid {
  margin: 20px auto;
  display: inline-block;
}

.node {
  width: 25px;
  height: 25px;
  border: 1px solid #000000b6;
  background-color: rgba(0, 0, 0, 0.03);
  display: inline-block;
  margin: 2px;
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-wall {
  background-color: black;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(255, 110, 60, 0.3);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(255, 109, 60, 0.3);
  }

  100% {
    transform: scale(1);
    background-color: rgba(32, 69, 73, 0.2);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 110, 60);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 110, 60);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 110, 60);
  }
}